.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
  transition: opacity 250ms ease, visibility 250ms ease;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 528px;
  height: 581px;
  background-color: var(--secondary-color);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);

  @include mq(tablet-only) {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .modal-wrapper {
    border-radius: 4px;
    width: 290px;
    height: 570px;
  }
}

.backdrop.is-hidden .modal-wrapper {
  animation: scale-down-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    forwards;
}
.backdrop .modal-wrapper {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

.modal-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .modal-title {
    font-size: 14px;
  }
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  padding-left: 42px;
  outline: transparent;
  cursor: pointer;
}

.modal-form__input:focus,
.modal-form__input:hover {
  border-color: var(--accent-color);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__comment:focus {
  border-color: var(--accent-color);
}
.modal-form__input,
.modal-form__icon,
.modal-form__comment {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__submit-button {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--accent-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--secondary-color);
  border: none;
  cursor: pointer;
}

.modal-form__wrap {
  position: relative;
}
.modal-form__field {
  margin-bottom: 10px;
  text-align: left;
}
.modal-form__checkbox-wrappper {
  margin-bottom: 30px;
  text-align: left;
}
.modal-form__text-area {
  margin-bottom: 20px;
  text-align: left;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.modal-form__comment {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
}
.modal-form__comment:focus {
  border-color: var(--accent-color);
}

.modal-form__privacy {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form__link {
  color: var(--accent-color);
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.modal-form__privacy .modal-form__checkbox-icon {
  border-radius: 2px;
  width: 16px;
  height: 15px;
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  border: 2px solid #212121;
  margin-right: 8px;
}
.modal-form__checkbox:checked
  + .modal-form__privacy
  .modal-form__checkbox-icon {
  border: none;
  background-color: var(--accent-color);
  fill: var(--secondary-color);
}
.modal-form__checkbox-wrappper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 425px;
  height: 24px;
}
.modal-form__checkbox-icon {
  margin-right: 7px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border-color: var(--accent-color);
  }
}
.modal-form__checkbox-wrappper
  input[type='checkbox']:focus
  + label
  .modal-form__checkbox-icon {
  border-color: var(--accent-color);
}

@media (max-width: 768px) {
  .modal-wrapper {
    height: auto;
    max-width: 450px;

    padding: 20px;
    border-radius: 8px;
  }
}

.modal-form {
  width: 100%;
}

.modal-form__input,
.modal-form__comment {
  width: 100%;
}

.modal-form__field {
  margin-bottom: 12px;
}

.modal-form__checkbox-wrappper {
  width: 100%;
}
