.img-about {
  width: 370px;
  height: 404px;
}
.img-block {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
      0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  }
}
.img-item {
  display: block;
}
.img-block {
  display: block;
}
.overlay-wrap {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  top: 0;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  background: rgba(33, 150, 243, 0.9);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
}

.img-block:hover .overlay-text {
  transform: translateY(0);
}
.member-img {
  display: block;
}
.team-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: currentColor;
  text-align: center;
  margin-bottom: 10px;
}

.team-text {
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--team-font);
  text-align: center;
  margin-bottom: 16px;
}
.about-photo {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-top: none;
  padding: 20px 24px;
}
