.clients-list {
  padding-top: 60px;
  padding-bottom: 60px;
}
.clients-list__about {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  &:hover {
    border-color: var(--accent-color);
  }
}
.clients-mode {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 200px;
  height: 92px;
  display: flex;
  flex-wrap: wrap;

  @include mq(tablet-only) {
    width: 226px;
  }
  @include mq(desktop) {
    width: 170px;
  }
}
.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}
.clients-list__text {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: currentColor;
  margin-bottom: 50px;

  @include mq(mobile-only) {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
