.container-wrap {
  padding-top: 94px;
  padding-bottom: 94px;

  @include mq(mobile-only) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.container-wrap__text-subtitle {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: currentColor;
  margin-bottom: 10px;
}

.container-wrap__text-undertitle {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--team-font);
}
.container-wrap__icon {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-bottom: 30px;
}
.main-icon-list {
  border-radius: 4px;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container {
  gap: 30px;
  display: flex;

  @include mq(mobile-only) {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}
.about-text {
  width: 270px;
}
